<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.writez.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.writez.chat.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity" />

        <activity
            android:name=".UserOverviewActivity"
            android:label="@string/title_activity_user_overview"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
       />
        <activity
            android:name=".ChatOverviewActivity"
            android:label="@string/title_activity_chat_overview"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_private_chat"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
    </application>

</manifest>
